{"openapi":"3.0.1","info":{"title":"McPlayHD.net API","description":"Documentation: <a href=\"https://api.mcplayhd.net/\">https://api.mcplayhd.net/</a>","version":"0.1.0"},"servers":[{"url":"https://mcplayhd.net/api/v1"}],"tags":[{"name":"FastBuilder"},{"name":"Index"},{"name":"BedWars"},{"name":"Minesweeper"},{"name":"Player"}],"paths":{"/languages/get":{"post":{"tags":["languages-controller"],"operationId":"get","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperMessage"}}}}},"security":[{"Bearer":[]}]}},"/admin/report":{"post":{"tags":["admin-controller"],"operationId":"report","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperSuccessMessage"}}}}},"security":[{"Bearer":[]}]}},"/server/banstats":{"get":{"tags":["server-controller"],"operationId":"getBanStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperBanStats"}}}}},"security":[{"Bearer":[]}]}},"/player/{player}":{"get":{"tags":["Player"],"summary":"Player Info","description":"Get a player's UUID, name and group by either their UUID or name.","operationId":"getPlayerInfo","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperSimplePlayerInfo"}}}}},"security":[{"Bearer":[]}]}},"/minesweeper/top":{"get":{"tags":["Minesweeper"],"summary":"Top stats (of season)","description":"Returns a list of the top Minesweeper players of a certain season.\n\nIf you don't provide a specific season, the API will return the top stats for the current season.","operationId":"getTopMinesweeperStats","parameters":[{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}},{"name":"season","in":"query","description":"season number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperTopGameStatsMinesweeperPlayerStats"}}}}},"security":[{"Bearer":[]}]}},"/minesweeper/stats":{"get":{"tags":["Minesweeper"],"summary":"Global stats (of season)","description":"Resturns the sum of all games, wins and mines defused in Minesweeper.\n\nIf you don't provide a specific season, the API will return the sums of all seasons.","operationId":"getGlobalMinesweeperStats","parameters":[{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}},{"name":"season","in":"query","description":"season number or \"all\"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperMinesweeperGlobalSeasonStats"}}}}},"security":[{"Bearer":[]}]}},"/minesweeper/stats/{player}":{"get":{"tags":["Minesweeper"],"summary":"Stats of a player (and season)","description":"Get the Minesweeper stats of a player by their UUID or name.\nAll times are in Milliseconds.\nIf you want to get the average time, you need to divide the `totalTime` by the `wins`.\n\nIf you don't provide a specific season, the API will return the player's stats for the current season.","operationId":"getPlayerMinesweeperStats","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}},{"name":"season","in":"query","description":"season number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The player has stats in that season.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsMinesweeperPlayerStats"}}}},"204":{"description":"The player doesn't have stats in that season.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}}},"security":[{"Bearer":[]}]}},"/minesweeper/stats/{player}/all":{"get":{"tags":["Minesweeper"],"summary":"Summed season stats of a player","description":"Get the summed stats of all seasons of a player.","operationId":"getPlayerMinesweeperStatsAll","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The player has Minesweeper stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsMinesweeperPlayerGlobalStats"}}}},"204":{"description":"The player doesn't have any Minesweeper stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}}},"security":[{"Bearer":[]}]}},"/minesweeper/season":{"get":{"tags":["Minesweeper"],"summary":"Current season","description":"Returns the current Minesweeper season.","operationId":"getMinesweeperSeason","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperCurrentSeason"}}}}}}},"/log/chatlog/{id}":{"get":{"tags":["log-controller"],"operationId":"getChatlog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperChatlog"}}}}},"security":[{"Bearer":[]}]}},"/languages/reload":{"get":{"tags":["languages-controller"],"operationId":"reload","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLanguagesReloadInfo"}}}}},"security":[{"Bearer":[]}]}},"/languages/list":{"get":{"tags":["languages-controller"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLanguagesList"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/{mode}/top":{"get":{"tags":["FastBuilder"],"summary":"Top stats of mode","description":"Returns a list of the top FastBuilder players of a certain mode.\nAll times are in Milliseconds.\nIf you want to get the average time, you need to divide the `totalTime` by the `wins`.\n\nIf you don't provide a specific season, the API will return the top stats for the current season.","operationId":"getTopFastBuilderModeStats","parameters":[{"name":"mode","in":"path","description":"mode to get the top list of","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperTopGameStatsFastBuilderPlayerStats"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/{mode}/stats":{"get":{"tags":["FastBuilder"],"summary":"Global stats of mode","description":"Resturns the sum of all games, wins and blocks placed in a certain FastBuilder mode.\nAdditionally this page will return the max time that is manually confirmed by staff.\nYou can also see the maximum number that will be shown in the leaderboard before switching to percentages.\nYou will also find a distribution with all best times and how many players have reached given time.","operationId":"getGlobalFastBuilderModeStats","parameters":[{"name":"mode","in":"path","description":"mode to get the stats of","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperFastBuilderModeGlobalStats"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/{mode}/stats/{player}":{"get":{"tags":["FastBuilder"],"summary":"Stats of a player and mode","description":"Get the FastBuilder stats of a player by their UUID or name and a mode.\nAll times are in Milliseconds.\nIf you want to get the average time, you need to divide the `totalTime` by the `wins`.\n\nIf you don't provide a specific season, the API will return the player's stats for the current season.","operationId":"getPlayerFastBuilderModeStats","parameters":[{"name":"mode","in":"path","description":"mode to get the stats of","required":true,"schema":{"type":"string"}},{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"The player doesn't have stats in that mode.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}},"200":{"description":"The player has stats in that mode.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsFastBuilderPlayerStats"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/stats":{"get":{"tags":["FastBuilder"],"summary":"Global stats","description":"Resturns the sum of all games, wins and blocks placed in FastBuilder.","operationId":"getGlobalFastBuilderStats","parameters":[{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperFastBuilderGlobalStats"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/stats/{player}":{"get":{"tags":["FastBuilder"],"summary":"Global stats of player","description":"Resturns the sum of all games, wins and blocks placed of a player in FastBuilder.","operationId":"getPlayerGlobalFastBuilderStats","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"The player doesn't have FastBuilder stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}},"200":{"description":"The player has FastBuilder stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsFastBuilderGlobalStats"}}}}},"security":[{"Bearer":[]}]}},"/fastbuilder/modes":{"get":{"tags":["FastBuilder"],"summary":"List of modes","description":"Returns a list of all FastBuilder modes.","operationId":"getModes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperFastBuilderModes"}}}}}}},"/bedwars/top":{"get":{"tags":["BedWars"],"summary":"Top stats (of season)","description":"Returns a list of the top BedWars players of a certain season.\n\nIf you don't provide a specific season, the API will return the top stats for the current season.","operationId":"getTopBedWarsStats","parameters":[{"name":"season","in":"query","description":"season number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperTopGameStatsBedWarsPlayerStats"}}}}},"security":[{"Bearer":[]}]}},"/bedwars/stats":{"get":{"tags":["BedWars"],"summary":"Global stats (of season)","description":"Resturns the sums of all countable BedWars statistics.\n\nIf you don't provide a specific season, the API will return the sums of all seasons.","operationId":"getGlobalBedWarsStats","parameters":[{"name":"season","in":"query","description":"season number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperBedWarsGlobalSeasonStats"}}}}},"security":[{"Bearer":[]}]}},"/bedwars/stats/{player}":{"get":{"tags":["BedWars"],"summary":"Stats of a player (and season)","description":"Get the BedWars stats of a player by their UUID or name.\n\nIf you don't provide a specific season, the API will return the player's stats for the current season.","operationId":"getPlayerBedWarsStats","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"season number","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The player has stats in that season.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsBedWarsPlayerStats"}}}},"204":{"description":"The player doesn't have stats in that season.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}}},"security":[{"Bearer":[]}]}},"/bedwars/stats/{player}/all":{"get":{"tags":["BedWars"],"summary":"Summed season stats of a player","description":"Get the summed stats of all seasons of a player.","operationId":"getPlayerBedWarsStatsAll","parameters":[{"name":"player","in":"path","description":"name or uuid of the player","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The player has BedWars stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsBedWarsPlayerGlobalStats"}}}},"204":{"description":"The player doesn't have any BedWars stats.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperPlayerGameStatsNull"}}}}},"security":[{"Bearer":[]}]}},"/bedwars/season":{"get":{"tags":["BedWars"],"summary":"Current season","description":"Returns the current Minesweeper season.","operationId":"getBedWarsSeason","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperCurrentSeason"}}}}}}},"/auth/reload":{"get":{"tags":["auth-controller"],"operationId":"reload_1","parameters":[{"name":"token","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperSuccessMessage"}}}}},"security":[{"Bearer":[]}]}},"/":{"get":{"tags":["Index"],"summary":"Main page & API info","description":"This is the main page of the API with a welcome/info message.\nIf you provide your token, you can see your UUID, rank, rate-limit, rate-limit-time and your current rate.","operationId":"index","parameters":[{"name":"token","in":"query","description":"deprecated","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperIndexBody"}}}}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"GetMessageRequest":{"type":"object","properties":{"key":{"type":"string"},"language":{"type":"string"},"inserts":{"type":"array","items":{"type":"string"}}}},"Message":{"type":"object","properties":{"message":{"type":"string"}}},"ResponseWrapperMessage":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/Message"}}},"ReportRequest":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"server":{"type":"string"},"reason":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"ResponseWrapperSuccessMessage":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/SuccessMessage"}}},"SuccessMessage":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}}},"BanStats":{"type":"object","properties":{"matrix":{"type":"integer","format":"int32"},"staff":{"type":"integer","format":"int32"}}},"ResponseWrapperBanStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/BanStats"}}},"ResponseWrapperSimplePlayerInfo":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/SimplePlayerInfo"}}},"SimplePlayerInfo":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"name":{"type":"string"},"group":{"type":"string","enum":["PLAYER","PREMIUM","VIP","MVP","YOUTUBER","BUILDER","HELPER","MODERATOR","SRMOD","DEVELOPER","ADMIN","OWNER"]}}},"MinesweeperPlayerStats":{"type":"object","properties":{"rank":{"type":"integer","format":"int32"},"points":{"type":"integer","format":"int32"},"timeBest":{"type":"integer","format":"int64"},"timeTotal":{"type":"integer","format":"int64"},"games":{"type":"integer","format":"int32"},"wins":{"type":"integer","format":"int32"},"mines":{"type":"integer","format":"int32"}}},"PlayerGameStatsMinesweeperPlayerStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/MinesweeperPlayerStats"}}},"ResponseWrapperTopGameStatsMinesweeperPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/TopGameStatsMinesweeperPlayerStats"}}},"TopGameStatsMinesweeperPlayerStats":{"type":"object","properties":{"top":{"type":"array","items":{"$ref":"#/components/schemas/PlayerGameStatsMinesweeperPlayerStats"}}}},"MinesweeperGlobalSeasonStats":{"type":"object","properties":{"games":{"type":"integer","format":"int64"},"wins":{"type":"integer","format":"int64"},"mines":{"type":"integer","format":"int64"}}},"ResponseWrapperMinesweeperGlobalSeasonStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/MinesweeperGlobalSeasonStats"}}},"PlayerGameStatsNull":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"type":"object","example":null}}},"ResponseWrapperPlayerGameStatsNull":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsNull"}}},"ResponseWrapperPlayerGameStatsMinesweeperPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsMinesweeperPlayerStats"}}},"MinesweeperPlayerGlobalStats":{"type":"object","properties":{"games":{"type":"integer","format":"int32"},"wins":{"type":"integer","format":"int32"},"mines":{"type":"integer","format":"int32"}}},"PlayerGameStatsMinesweeperPlayerGlobalStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/MinesweeperPlayerGlobalStats"}}},"ResponseWrapperPlayerGameStatsMinesweeperPlayerGlobalStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsMinesweeperPlayerGlobalStats"}}},"CurrentSeason":{"type":"object","properties":{"season":{"type":"integer","format":"int32"}}},"ResponseWrapperCurrentSeason":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/CurrentSeason"}}},"Chatlog":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string","format":"uuid"},"time":{"type":"integer","format":"int64"},"by":{"type":"string"},"log":{"type":"array","items":{"type":"string"}},"checked":{"$ref":"#/components/schemas/Checked"}}},"Checked":{"type":"object","properties":{"checked":{"type":"boolean"},"by":{"type":"string","format":"uuid"},"time":{"type":"integer","format":"int64"}}},"ResponseWrapperChatlog":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/Chatlog"}}},"LanguagesReloadInfo":{"type":"object","properties":{"keys":{"type":"integer","format":"int32"},"languages":{"type":"integer","format":"int32"},"time":{"type":"integer","format":"int64"},"memory":{"type":"integer","format":"int64"}}},"ResponseWrapperLanguagesReloadInfo":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/LanguagesReloadInfo"}}},"LanguagesList":{"type":"object","properties":{"languages":{"type":"array","items":{"type":"string"}}}},"ResponseWrapperLanguagesList":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/LanguagesList"}}},"FastBuilderPlayerStats":{"type":"object","properties":{"games":{"type":"integer","format":"int32"},"wins":{"type":"integer","format":"int32"},"blocks":{"type":"integer","format":"int64"},"timeBest":{"type":"integer","format":"int64"},"timeTotal":{"type":"integer","format":"int64"},"confirmed":{"type":"boolean"},"speedrunConfirmed":{"type":"boolean"}}},"PlayerGameStatsFastBuilderPlayerStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/FastBuilderPlayerStats"}}},"ResponseWrapperTopGameStatsFastBuilderPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/TopGameStatsFastBuilderPlayerStats"}}},"TopGameStatsFastBuilderPlayerStats":{"type":"object","properties":{"top":{"type":"array","items":{"$ref":"#/components/schemas/PlayerGameStatsFastBuilderPlayerStats"}}}},"FastBuilderGlobalStats":{"type":"object","properties":{"games":{"type":"integer","format":"int64"},"wins":{"type":"integer","format":"int64"},"blocks":{"type":"integer","format":"int64"}}},"FastBuilderModeGlobalStats":{"type":"object","properties":{"sums":{"$ref":"#/components/schemas/FastBuilderGlobalStats"},"maxConfirmedTime":{"type":"integer","format":"int64"},"leaderboardSize":{"type":"integer","format":"int32"},"distribution":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"ResponseWrapperFastBuilderModeGlobalStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/FastBuilderModeGlobalStats"}}},"ResponseWrapperPlayerGameStatsFastBuilderPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsFastBuilderPlayerStats"}}},"ResponseWrapperFastBuilderGlobalStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/FastBuilderGlobalStats"}}},"PlayerGameStatsFastBuilderGlobalStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/FastBuilderGlobalStats"}}},"ResponseWrapperPlayerGameStatsFastBuilderGlobalStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsFastBuilderGlobalStats"}}},"FastBuilderModes":{"type":"object","properties":{"modes":{"type":"array","items":{"type":"string","enum":["NORMAL","SHORT","INCLINED","ONESTACK","INFINITE"]}}}},"ResponseWrapperFastBuilderModes":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/FastBuilderModes"}}},"BedWarsPlayerStats":{"type":"object","properties":{"rank":{"type":"integer","format":"int32"},"points":{"type":"integer","format":"int32"},"kills":{"type":"integer","format":"int32"},"deaths":{"type":"integer","format":"int32"},"games":{"type":"integer","format":"int32"},"beds":{"type":"integer","format":"int32"},"wins":{"type":"integer","format":"int32"},"blocksPlaced":{"type":"integer","format":"int32"},"blocksDestroyed":{"type":"integer","format":"int32"},"bronzeCollected":{"type":"integer","format":"int32"},"silverCollected":{"type":"integer","format":"int32"},"goldCollected":{"type":"integer","format":"int32"},"itemsCollected":{"type":"integer","format":"int32"}}},"PlayerGameStatsBedWarsPlayerStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/BedWarsPlayerStats"}}},"ResponseWrapperTopGameStatsBedWarsPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/TopGameStatsBedWarsPlayerStats"}}},"TopGameStatsBedWarsPlayerStats":{"type":"object","properties":{"top":{"type":"array","items":{"$ref":"#/components/schemas/PlayerGameStatsBedWarsPlayerStats"}}}},"BedWarsGlobalSeasonStats":{"type":"object","properties":{"kills":{"type":"integer","format":"int64"},"beds":{"type":"integer","format":"int64"},"blocksPlaced":{"type":"integer","format":"int64"},"blocksDestroyed":{"type":"integer","format":"int64"},"bronzeCollected":{"type":"integer","format":"int64"},"silverCollected":{"type":"integer","format":"int64"},"goldCollected":{"type":"integer","format":"int64"},"itemsCollected":{"type":"integer","format":"int64"}}},"ResponseWrapperBedWarsGlobalSeasonStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/BedWarsGlobalSeasonStats"}}},"ResponseWrapperPlayerGameStatsBedWarsPlayerStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsBedWarsPlayerStats"}}},"BedWarsPlayerGlobalStats":{"type":"object","properties":{"kills":{"type":"integer","format":"int64"},"deaths":{"type":"integer","format":"int64"},"games":{"type":"integer","format":"int64"},"beds":{"type":"integer","format":"int64"},"wins":{"type":"integer","format":"int64"},"blocksPlaced":{"type":"integer","format":"int64"},"blocksDestroyed":{"type":"integer","format":"int64"},"bronzeCollected":{"type":"integer","format":"int64"},"silverCollected":{"type":"integer","format":"int64"},"goldCollected":{"type":"integer","format":"int64"},"itemsCollected":{"type":"integer","format":"int64"}}},"PlayerGameStatsBedWarsPlayerGlobalStats":{"type":"object","properties":{"playerInfo":{"$ref":"#/components/schemas/SimplePlayerInfo"},"stats":{"$ref":"#/components/schemas/BedWarsPlayerGlobalStats"}}},"ResponseWrapperPlayerGameStatsBedWarsPlayerGlobalStats":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/PlayerGameStatsBedWarsPlayerGlobalStats"}}},"IndexBody":{"type":"object","properties":{"message":{"type":"string"},"authenticated":{"type":"boolean"},"user":{"$ref":"#/components/schemas/User"}}},"ResponseWrapperIndexBody":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"path":{"type":"string"},"timeStamp":{"type":"string"},"processingTime":{"type":"integer","format":"int64"},"data":{"$ref":"#/components/schemas/IndexBody"}}},"User":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid"},"rank":{"type":"string","enum":["USER","MOD","ADMIN"]},"rateLimit":{"type":"integer","format":"int32"},"rateLimitTimeMs":{"type":"integer","format":"int32"},"currentRate":{"type":"integer","format":"int32"}}}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer"}}}}